<div class="menu_lateral">
    <div class="lelf">
        <div class="utm">

            <div class="logo">
                <img src="images/Logo_utm.png" alt="">
            </div>
            <div class="nameUtm">Universidad Tecnica de Manabí</div>
        </div>

        <div class="options">

            <% if (current=="pp" ){ %>
                <div class="home isSelected">
                    Plantas en peligro
                </div>
                <% } else{ %>
                    <div class="home">
                        Plantas en peligro
                    </div>
                    <% } %>



                        <div class="pm">
                            Posibles matchs
                        </div>
                        <div class="usuarios">
                            Usuarios
                        </div>
        </div>
       

    </div>

    <div class="user">
        <div id ="email" class="email">as</div>
     
        <a>cerrar secion</a>
    </div>


</div>

<!-- <div class="menu_top">

    <div class="create">

        <button>Create</button>

    </div>

    <form id="search" action="javascript: alert('búsqueda enviada')">
        <input type="search" name="buscar" placeholder="Búsqueda libre" autocomplete="off" required />
        <button type="submit"><img src="images/lupa.png" alt=""></button>
    </form>

    <div class="user">asd</div>

</div> -->