<div class="menu_lateral">
    <div class="left">
        <div class="utm">

            <div class="logo">
                <img src="/images/Logo_utm.png" alt="">
            </div>
            <div class="nameUtm">Universidad Tecnica de Manabí</div>
        </div>

        <div class="options">

            <% if (selected==="plants" ){ %>
                <div class="home isSelected">
                    <a style="text-decoration: none; color: inherit;" href="/plant/">Plantas</a>
                </div>
                <% } else{ %>
                    <div class="home">
                        <a style="text-decoration: none; color: inherit;" href="/plant/">Plantas</a>
                    </div>
                    <% } %>



                        <div class="pm">
                            Posibles matchs
                        </div>
                        <div class="usuarios">
                            <a style="text-decoration: none; color: inherit;" href="/user/">Usuarios</a>
                        </div>
        </div>
       

    </div>

    <div class="user">
        <div id ="email" class="email">as</div>
     <form action="/api/user/logout" method="post">
         <button type="submit" class="btn btn-seccondary">Salir</button>
      
     </form>
        
    </div>


</div>
<!-- Nav tabs -->

<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
        </ul>
       
    </div>
</nav>
 -->

<!-- <div class="menu_top">

    <div class="create">

        <button>Create</button>

    </div>

    <form id="search" action="javascript: alert('búsqueda enviada')">
        <input type="search" name="buscar" placeholder="Búsqueda libre" autocomplete="off" required />
        <button type="submit"><img src="images/lupa.png" alt=""></button>
    </form>

    <div class="user">asd</div>

</div> -->