<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <% if(!identification){ %>
        <div class="container">
            <div class="links">
                <a href="/">ir al login</a> 
                <a href="/reset-password">ir al reiniciar contraseña</a>
        
            </div>
            <div class="text">Link ya no es valido..!</div>
        </div>
        
           
        
        
    <% }else{ %> 
        <div class="row">
            <div id="alert" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p>
        
                    This is an alert box.
                </p>
            </div>
            <h1>Recuperar contraseña</h1>
            <h6 class="information-text">Ingresa tu cédula registrada</h6>
            <div class="form-group">
                <form action="" method="post" id="form">
        
                    <input type="password" name="newPassword" id="newPassword">
                    <p><label for="newPassword">Nueva Contraseña</label></p>
                    <input type="password" name="newPassword2" id="newPassword2">
                    <p><label for="newPassword2">Confirmar Contraseña</label></p>
                    <button type="submit" onclick="" id="send">Restablecer Contraeña</button>
                    <div id="spinner" class="content">
                        <div class="spinner"></div>
                    </div>
                </form>
            </div>
            <div class="footer">
                <!-- <h5>New here? <a href="#">Sign Up.</a></h5> -->
                <h5>Ya tienes una cuenta ? <a href="/">Logeate!.</a></h5>
        
            </div>
        </div>

    <% } %> 
</body>
<!-- <script src="/js/confirmPassword.js"></script> -->
</html>