<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(!identification){ %>
        <div>
            <a href="/">ir al login</a>
        </div>
        <div>
            <a href="/reset-password">ir al reiniciar contrase単a</a>
        </div>
        <div>Link ya no es valido..!</div>
    <% }else{ %> 
    <h1>Cambia tu contrase単a</h1>
    <form action="" method="post" id="form">
        <label for="newPassword">Nueva contrase単a : </label>
        <input type="text" name="newPassword" id="password">
        <label for="newPassword2">Confirmar contrase単a : </label>
        <input type="text" name="newPassword2" id="password2">
        <input type="submit" value="Continuar">
    </form>
    <% } %> 
</body>
<!-- <script src="/js/confirmPassword.js"></script> -->
</html>