.menu_lateral {
  position: fixed;
  left: 0px;
  top: 0;
  right: 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  height: 6rem;
  border-bottom: solid 1px #dcdcdc;
  background-color: #f9fafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  z-index: 10;
  padding-bottom: 1rem;
}

.menu_lateral .user {
  color: rgba(30, 41, 59, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* button {
            background-color: #fff;
            padding: 0.5rem;
            // border: solid 0.1rem green;
            color: green;
            // border-radius: 0.5rem;
            border: none;
            font-size: 0.8rem;
            cursor: pointer;
           
        } */
}

.menu_lateral .user #email {
  color: rgba(30, 41, 59, 0.8);
  text-align: start;
  font-size: 0.8rem;
  font-weight: 100;
}

.menu_lateral .user a {
  text-align: start;
  font-size: 0.8rem;
  font-weight: 100;
}

.menu_lateral .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_lateral .utm {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu_lateral .utm img {
  width: 3rem;
}

.menu_lateral .utm .nameUtm {
  width: 180px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-left: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: green;
  text-align: start;
  font-size: 1.2rem;
  font-weight: 100;
}

.menu_lateral .options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: rgba(30, 41, 59, 0.8);
}

.menu_lateral .options div {
  margin: 0 1rem;
}

.menu_lateral .options .home {
  height: 100%;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 100;
  position: relative;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  /*
                 padding: 2.5% 3.5%;
                 text-decoration: none;
                 font-size: 0.9em;
                 color: #333333;
                 transition: ease .1s;
                 -webkit-transition: ease .1s; */
}

.menu_lateral .options .home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0px;
  background: green;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-transition: ease 0.1s;
}

.menu_lateral .options .home:hover {
  color: #333;
}

.menu_lateral .options .home:hover::after {
  height: 4px;
}

.menu_lateral .options .pm {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: left;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 100;
  position: relative;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.menu_lateral .options .pm::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0px;
  background: green;
  transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
}

.menu_lateral .options .pm:hover {
  color: #333;
}

.menu_lateral .options .pm:hover::after {
  height: 4px;
}

.menu_lateral .options .usuarios {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: left;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 100;
  position: relative;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.menu_lateral .options .usuarios::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 0px;
  background: green;
  transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
}

.menu_lateral .options .usuarios:hover {
  color: #333;
}

.menu_lateral .options .usuarios:hover::after {
  height: 4px;
}

.actions {
  position: fixed;
  top: 6.8rem;
  right: 0rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4.5rem;
}

.actions .searchDiv {
  margin-right: 2rem;
  position: relative;
}

.actions .searchDiv img {
  width: 1.2rem;
  position: absolute;
  right: 0.28rem;
  top: 0.48rem;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.actions .searchDiv input {
  margin-left: 4.5rem;
  border: solid 2px gray;
  border-radius: 1rem;
  font-size: 1.2rem;
  width: 13rem;
  padding: 0.4rem;
}

.actions .create {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions .create button {
  background-color: ccc;
  padding: 0.4rem;
  border: solid 0.1rem #dcdcdc;
  color: rgba(30, 41, 59, 0.8);
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  /* &:hover {
                    background-color: rgba(0, 255, 42, 0.363);
                    font-size: 1rem;
                } */
}

.float {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

/* .isSelected{
    color: yellow;
    
    ::after{
        background-color: red;
        height: 40px !important;
    }
    
} */
/* @media screen and (max-width: 1200px) {
    .menu_lateral {
        width: 10rem;
    }
    .container {
        .grid {
            grid-template-columns: 45% 45%;
        }
    }
}
@media screen and (max-width: 850px) {
    .menu_lateral {
        width: 10rem;
    }
    .container {
        .grid {
            .menu_lateral {
                width: 2rem;
            }
            grid-template-columns: 50%;
        }
    }
}
@media screen and (max-width: 400px) {
    .menu_lateral {
        width: 5rem;
        transform: translate(-100%, 0);
    }
    .container {
        margin-left: 0rem;
        .grid {
            grid-template-columns: 95%;
        }
    }
}
 */
/*# sourceMappingURL=main.css.map */