 .alert {
    width: 80%;
    display: none;
    justify-content: space-around;
    border: solid 1px;
    border-radius: 8px;
    /* padding: 10px; */
    /* background-color: rgba(255, 0, 0, 0.37); */
    margin: 0 auto;
    margin-top: 5px;
}