<div class="cardPlant">
    <div>
        <div class="name">
            <%= plant.name %>
        </div>
        <div class="scientific_name">
            <%= plant.scientific_name %>
        </div>  
       <!--  <div class="description">
            <%= plant.description %>
        </div> -->
        <img src=<%=plant.url %> alt="">
    </div>

</div>