<div class="cardplant">
    <div>
        <div class="name">
            <%= plant.name %>
        </div>
        <div class="scientific_name">
            <%= plant.scientificname %>
        </div>
          <div class="description">
            <%= plant.description %>
        </div> 
        <div id="divImg">

            <% plant.images.forEach(element=> { %>
                
                <!-- <img src=<%=element.url %> alt=""> -->
                
                <!-- <script>
                    
                    var images = element;
                    const lol = (a)=>{

                    }

                </script> -->
                <% }); %>
                    

        </div>
    </div>

</div>